*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    padding: 1rem 0;
    overflow: auto;
    margin: 0 auto;
    background-color:#f8f9fa;
}
header #left{
    float: left;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    margin-left: 40px;
    padding: 12px 16px;
}
header #right{
    float: right;
    text-decoration: none;
    padding: 12px 16px;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    color: #fff;
    margin-right: 40px;
}
#First{
    background-size: cover;
    background-position: center;
    padding: 12rem 0;
    width: 100%;
    text-align: center;
    opacity: 1.2;
    background-image: url(https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-masthead.jpg);
}
#First h1{
    
    color: #fff;
    font-weight: 700;
    margin: 0 0 4rem;
    font-size: 3rem;
}
.form input{
    width: 30%;
    padding: 25px 5rem 25px 1.5rem;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
    margin-right: 20px;
}
.form button{
    padding:25px 2rem 25px 2rem ;
    background: #0d6efd;
    color: #fff;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    cursor: pointer;
}
#Second{
    width: 100%;
    overflow: auto;
    padding: 5rem 0;
    background-color: #f8f9fa;
}
#Second .all{
    float: left;
    text-align: center;
    width: 33%;
    margin: 0 auto 60px auto;
}
.box-img i{
    padding: 2rem 1rem;
    font-size: 6rem;
}
.box-text h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.box-text p{
    font-size: 1.5rem;
    font-weight: 300;
    width: 85%;
    margin: 0 auto;
}
.box-1{
    width: 50%;
    padding: 3rem;
    float: left;
    height: 450px;
}
#Third{
    overflow: auto;
}   
#Third h2{
    font-size:calc(1.325rem + 0.9vw); 
    margin:5rem 0 0 3rem;
    font-weight: 700;
}
#Third p{
    margin:10px 0 0 3rem;
    width: 70%;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
}
.box-2 img{
    float: right;
    width: 50%;
}
.box-3 img{
    float: left;
    width: 50%;
}
.box-4{
    width: 50%;
    padding: 3rem;
    float: left;
    height: 450px;
}
.box-5{
    width: 50%;
    padding: 3rem;
    float: left;
    height: 450px;
}
.box-6 img{
    float: left;
    width: 50%;
}
#Fourth{
    padding: 6rem 0;
    background-color: #f8f9fa;
    overflow: auto;
}
#Fourth h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}
#Think{
    width: 90%;
    margin: 0 auto;
}
.think-box{
    text-align: center;
    float: left;
    width: 33%;
}
.think-box h4{
    margin-bottom: 10px;
    font-size: 1.25rem;
}
#Think img{
    border-radius: 100%;
    width: 200px;
}
#Register{
    padding: 10rem 0;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-image: url(https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-masthead.jpg);
}
#Register h2{
    color: #fff;
    font-size: calc(1.325rem + 0.9vw);
    margin-bottom: 1.5rem;
}
#Copyright{
    padding: 5rem 3rem;
    background-color: #f8f9fa;
    overflow: auto;
}
.c-left{
    float: left;
}
.c-left p{
    color: #6c757d;
}
.c-left a{
    margin-right: 30px;
    color: #0d6efd;
}
.c-right{
    float: right;
}
.c-right a{
    color: #0d6efd;
    text-decoration: none;
}
.c-right i{
    margin-left: 30px;
    font-size: 30px;
}
